Artworks 전처리

In [3]:
import pandas as pd
def 이미지_여러개(df) : 
    for i in range(len(df) ) :
        if i == 0 :
            df.fileName.values[i] = df.fileName.values[i]
            df.imgTitle.values[i] = df.imgTitle.values[i].split('_')[0]
        else :
            if df.imgTitle.values[i].split('_')[0] == df.imgTitle.values[i-1].split('_')[0] :
                df.fileName.values[i] = df.fileName.values[i-1] + df.fileName.values[i]
                df.imgTitle.values[i] = df.imgTitle.values[i].split('_')[0]
            else :
                df.fileName.values[i] = df.fileName.values[i]
                df.imgTitle.values[i] = df.imgTitle.values[i].split('_')[0]
    df = df.drop_duplicates(['imgTitle'], keep='last')
    return df

def 그림파일_전처리(df):
    result = pd.DataFrame()
    for i in range(len(df)) :
        tmp_list = []
        df_tmp = df.iloc[[i]]
        tmp_list.append(df_tmp.fileName.values[0])
        df_tmp.fileName.values[0] = tmp_list
        result = pd.concat([result, df_tmp])
    return result

In [49]:
df = pd.read_excel('Artworks.xlsx')
df= 그림파일_전처리(df)
Painting = df[df['class'] == 'Painting']
Patina = df[df['class'] == 'Patina']
Fabric = df[df['class'] == 'Fabric Collage']
Ottchil = df[df['class'] == 'Ottchil (Korean Lacquer Work)']
Installation = df[df['class'] =='Installation']
삼베 = Ottchil[Ottchil.subject == '삼베']
자개 = Ottchil[Ottchil.subject == '자개']

삼베 = 이미지_여러개(삼베)
자개 = 이미지_여러개(자개)
Installation = 이미지_여러개(Installation)

result = pd.concat([Painting, Patina, Fabric, 삼베, 자개, Installation])

result.imgID = [i for i in range(len(result))]
result.to_json('public/json/Artworks.json', orient = 'records', force_ascii=False)

In [54]:
result.fileName[103]

['Dragon Above the Clouds01-2017.jpg',
 'Dragon Above the Clouds02-2017.jpg',
 'Dragon Above the Clouds03-2017.jpg']

In [46]:

df = 이미지_여러개(Installation)
df

,category,class,subject,imgID,imgTitle,imgSize-w,imgSize-h,imgYear,fileName
96,Artworks,Installation,Oil on Wood Kettle Lid,96,Cycle of Nature 1 Wagon Wheel,995,995,2012,[Cycle of Nature 1 Wagon Wheel-2012.jpg]
97,Artworks,Installation,Oil on Wood Kettle Lid,97,Cycle of Nature 2 Wagon Wheel,995,995,2012,[Cycle of Nature 2 Wagon Wheel-2012.jpg]
98,Artworks,Installation,"Oil on Kettle Lid, Mixed Media",98,Cycle of Nature 3 Wagon Wheel,890,890,2014,[Cycle of Nature 3 Wagon Wheel-2014.jpg]
99,Artworks,Installation,"Brass, Wood, Copper Wire",99,Rhythm 1,2000,1450,2017,[Rhythm 1-2017.jpg]
100,Artworks,Installation,Installation,100,What’s Left,0,0,2017,[What’s Left-2017.jpg]
103,Artworks,Installation,Installation,103,Dragon Above the Clouds,0,0,2017,"[Dragon Above the Clouds01-2017.jpg, Dragon Ab..."
108,Artworks,Installation,Installation,108,For The Aborted Young Souls,0,0,2017,"[For The Aborted Young Souls01-2017.jpg, For T..."
114,Artworks,Installation,Installation,114,Breeding,0,0,2017,"[Breeding01_2017.jpg, Breeding02_2017.jpg, Bre..."
115,Artworks,Installation,Installation,115,Indra and Amulets,0,0,2016,[Indra and Amulets_2016.jpg]
116,Artworks,Installation,Installation,116,Mask 1,0,0,2017,[Mask 1_2017.jpg]
117,Artworks,Installation,Installation,117,Mask 3,400,130,2016,[Mask 3_2016.jpg]
118,Artworks,Installation,Installation,118,The Masks,0,0,2016,[The Masks_2016.jpg]
121,Artworks,Installation,Installation,121,Hope and Birth,750,160,2016,"[Hope and Birth01_2016.jpg, Hope and Birth02_2..."

In [48]:
df.fileName[103]

['Dragon Above the Clouds01-2017.jpg',
 'Dragon Above the Clouds02-2017.jpg',
 'Dragon Above the Clouds03-2017.jpg']

In [59]:
import pandas as pd
read = pd.read_json('public/json/Artworks.json')
read.imgID = [i for i in range(len(read))]
read.to_json('public/json/Artworks.json', orient = 'records', force_ascii=False)

In [5]:
import pandas as pd
read = pd.read_json('public/json/Artworks.json')
read['imgSize-w'] = read['imgSize-w'] / 10
read['imgSize-h'] = read['imgSize-h'] / 10
read.to_json('public/json/Artworks.json', orient = 'records', force_ascii=False)

Exhibition

In [4]:
import pandas as pd
df = pd.read_excel('Exhibition.xlsx')
df = 그림파일_전처리(df)

for i in range( len(df) ) :
    if i == 0 : pass
    elif i > 0 :
        if df.subject.values[i] == df.subject.values[i-1] :
            df.fileName.values[i] = df.fileName.values[i-1] + df.fileName.values[i]
        else :
            df.fileName.values[i] = df.fileName.values[i]
df = df.drop_duplicates(['subject'], keep='last')
df = df.sort_values(by='dayStart', ascending=False)
df.imgID = [i for i in range(len(df))]
df = df.reset_index(drop=True)
df.to_json('public/json/Exhibition.json', orient = 'records', force_ascii=False)

In [5]:
df

,category,subject,imgID,imgTitle,location,dayStart,dayEnd,fileName
0,Exhibtions,Songdo Convensia,0,인천아시아아트쇼_10,"Incheon, Korea",2022.11.16,2022.11.20,"[인천아시아아트쇼_1.jpeg, 인천아시아아트쇼_2.jpeg, 인천아시아아트쇼_3...."
1,Exhibtions,Saphira & ventura Gallery,1,Saphira & Ventura Gallery_07,"New York, NY",2022.10.20,2022.10.31,"[Saphira & Ventura Gallery_00_2022.jpg, Saphir..."
2,Exhibtions,White Hall Gallery,2,흰물결갤러리10,"Seoul, Korea",2022.04.14,2022.05.31,"[흰물결갤러리01_2022.jpg, 흰물결갤러리02_2022.jpg, 흰물결갤러리0..."
3,Exhibtions,China Contemporary Haman,3,China2,"Beijing, China",2017.5.27,2017.6.19,"[China1_2017.jpg, China2_2017.jpg]"
4,Exhibtions,Greece In Dialog with Greek History,4,Greece5,"Thessaloniki, Greece",2015.5.30,2015.5.30,"[Greece1_2015.jpg, Greece2_2015.jpg, Greece3_2..."